@{
    ViewData["Title"] = "Home";
}
 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    Welcome to my hompage
    <div class="container">
    <div id="redis-config" class="row">
          <div class="col-lg-2 alert-info">
            <h5>Redis Session</h5>
            <p><span class="label label-default"> Key from Redis</span>@ViewData["Hello"]</p>
          </div>
    </div>
    </div>
  </div>
  <!-- /.content-wrapper -->